@charset "utf-8";

$almond: #f1dabf;
$fawn: #e2ac6e;
$copper: #bb7320;

@use "../../node_modules/bulma/sass" with (
  $family-primary: "Reddit Mono",
  $family-secondary: "Lilita One",
  $primary: $almond,
  $link: $copper,
  $footer-padding: 2rem 3.5rem,
  $footer-background-color: $fawn
);

@font-face {
  font-family: "Reddit Mono";
  src: url("../fonts/RedditMono-VariableFont.ttf");
}

@font-face {
  font-family: "Lilita One";
  src: url("../fonts/LilitaOne-Regular.ttf");
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div#root > :not(.navbar, .footer) {
  flex: 1;
}

.navbar,
.navbar-menu {
  background-color: $copper;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

a.navbar-item:hover,
a.navbar-item:focus {
  background-color: transparent;
}

a.navbar-item:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
